# Node modules
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
turbo-debug.log*

# Dependency directories
.pnpm-store/
.yarn/
.yarnrc.yml

# Editor-specific files
.vscode/
.idea/
.DS_Store

# Tailwind CSS cache
.tailwind/

# TypeScript build files
dist/
*.tsbuildinfo

# Next.js cache
.vercel/
