@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    SF Pro Text,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply pb-7 pt-7 text-2xl font-bold;
  }
  h2 {
    @apply pb-4 pt-4 text-xl font-bold;
  }
  h3 {
    @apply pb-4 pt-4 text-lg font-bold;
  }
  h4 {
    @apply pb-4 pt-4 text-base font-bold;
  }
  h5 {
    @apply pb-4 pt-4 text-sm font-bold;
  }
}

/* 共通ユーティリティ */
@layer utilities {
  .truncate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
